// Simple syscalls file.

// -- Support for the legacy syscall mechanism --

// This is also documentation on how the legacy syscall mechanism worked in principle.

package("ecall", [])
	_(_ecall)
	// Jumps to syscall-specific code can be put in this package reasonably safely.

package("ecall_end", [])
	// Return to calling code
	jump(_vm_indirect_jump)

package("inc_code", ["ecall", "ecall_end"])

	// we never don't want this on-tap
	equ(_ecall_ext_log, EXT("UnityEngineDebug.__Log__SystemObject__SystemVoid"))

// -- nametable syscalls --

// The new mechanism is based on the package/snippet mechanism:
// package("syscall_example", [])
//     // return method 1: direct
//     jump(_syscall_return) // return to calling code (local equate)
//     // return method 2: indirect
//     copy_static(C(uint_c(_syscall_return_indirect)), _vm_indirect_jump_target)
//     jump(_vm_indirect_jump)
// EBREAK is followed by the address of a C-string naming the syscall to run.
// Packages required here are all installed immediately after inc_code.

// -- bool_sense --
// pops SystemBoolean index, 'senses' it
// a0 (out): 1/0

package("syscall_stdsyscall_bool_sense", [])

local(was_false)

	jump_if_false(was_false)

	copy_static(C(int(1)), a0)
	jump(_syscall_return)

_(was_false)
	copy_static(C(int(0)), a0)
	jump(_syscall_return)

// -- is_valid --
// pops anything index, checks for non-null
// a0 (out): 1/0

package("syscall_stdsyscall_is_valid", [])

	equ(_ecall_ext_objequal, EXT("SystemObject.__op_Equality__SystemObject_SystemObject__SystemBoolean"))

local(was_false)

	push(_null)
	push(_vm_tmp_bool)
	extern(_ecall_ext_objequal)

	push(_vm_tmp_bool)
	jump_if_false(was_false)

	copy_static(C(int(0)), a0)
	jump(_syscall_return)

_(was_false)
	copy_static(C(int(1)), a0)
	jump(_syscall_return)

// -- dynextern --

package("stdsyscall_dynextern", [])

	var(_ecall_dynextern, string("DynamicExternNotInitialized"))

package("syscall_stdsyscall_dynextern", ["stdsyscall_dynextern"])

	extern(_ecall_dynextern)
	jump(_syscall_return)

// -- copy --

package("syscall_stdsyscall_copy", [])

	copy

// -- pop --

package("syscall_stdsyscall_pop", [])

	pop

// -- push stdsyscall scratch register --

package("stdsyscall_pushscratch", [])

	var(stdsyscall_scratch_reg, null("SystemObject"))

package("syscall_stdsyscall_pushscratch", ["stdsyscall_pushscratch"])

	push(stdsyscall_scratch_reg)

// -- putchar --
// a0 (in): Latin-1 character

package("stdsyscall_putchar", [])

	// Variables, etc.
	var_public(_ecall_logmsg, string(""))
	var(_ecall_logchar, null("SystemChar"))
	var(_ecall_logcharstr, string(""))

package("syscall_stdsyscall_putchar", ["stdsyscall_putchar"])

	equ(_ecall_ext_i32eq, EXT("SystemInt32.__op_Equality__SystemInt32_SystemInt32__SystemBoolean"))
	equ(_ecall_ext_i32and, EXT("SystemInt32.__op_LogicalAnd__SystemInt32_SystemInt32__SystemInt32"))
	equ(_ecall_ext_tochar, EXT("SystemConvert.__ToChar__SystemInt32__SystemChar"))
	equ(_ecall_ext_char2str, EXT("SystemConvert.__ToString__SystemChar__SystemString"))
	equ(_ecall_ext_stradd, EXT("SystemString.__op_Addition__SystemString_SystemString__SystemString"))

local(not_newline)

	ext(_ecall_ext_i32eq, [a0, C(int(10)), _vm_tmp_bool])
	push(_vm_tmp_bool)
	jump_if_false(not_newline)
	ext(_ecall_ext_log, [_ecall_logmsg])
	copy_static(C(string("")), _ecall_logmsg)
	jump(_syscall_return)

_(not_newline)

	ext(_ecall_ext_i32and, [a0, C(int(0xFF)), a0])
	ext(_ecall_ext_tochar, [a0, _ecall_logchar])
	ext(_ecall_ext_char2str, [_ecall_logchar, _ecall_logcharstr])
	ext(_ecall_ext_stradd, [_ecall_logmsg, _ecall_logcharstr, _ecall_logmsg])
	jump(_syscall_return)

// -- memmove --

// dest, src, n
package("syscall_stdsyscall_memmove", [])

	// copy(source source_ofs dest dest_ofs bytes)
	equ(_ecall_ext_memmove, EXT("SystemBuffer.__BlockCopy__SystemArray_SystemInt32_SystemArray_SystemInt32_SystemInt32__SystemVoid"))

	ext(_ecall_ext_memmove, [vm_memory, a1, vm_memory, a0, a2])

	jump(_syscall_return)

// -- sbrk --

package("syscall_stdsyscall_sbrk", [])

	equ(_ecall_ext_u8anew, EXT("SystemByteArray.__ctor__SystemInt32__SystemByteArray"))
	// copy(source source_ofs dest dest_ofs bytes)
	equ(_ecall_ext_memcpy, EXT("SystemBuffer.__BlockCopy__SystemArray_SystemInt32_SystemArray_SystemInt32_SystemInt32__SystemVoid"))
	equ(_ecall_ext_u8alen, EXT("SystemByteArray.__get_Length__SystemInt32"))
	equ(_ecall_ext_i32add, EXT("SystemInt32.__op_Addition__SystemInt32_SystemInt32__SystemInt32"))
	equ(_ecall_ext_i32neq, EXT("SystemInt32.__op_Inequality__SystemInt32_SystemInt32__SystemBoolean"))
	equ(_ecall_ext_i32min, EXT("SystemMath.__Min__SystemInt32_SystemInt32__SystemInt32"))

	// just in case someone messed with this
	copy_static(vm_memory, _vm_memory_chk)

	// This will be used shortly to fastpath sbrk(0)
	ext(_ecall_ext_i32neq, [a0, C(int(0)), _vm_tmp_bool])

	ext(_ecall_ext_u8alen, [vm_memory, _vm_tmp_r1])
	ext(_ecall_ext_i32add, [_vm_tmp_r1, a0, a0])

	// a0 is now the target length. If a0 is 0, we can now leave.
	push(_vm_tmp_bool)
	jump_if_false(_syscall_return)

	// alright, we're actually doing this huh
	// set tmpr1 to min length between the old length and the new length
	// so we know how much to copy
	ext(_ecall_ext_i32min, [_vm_tmp_r1, a0, _vm_tmp_r1])

	// create the new array and copy over the existing data
	ext(_ecall_ext_u8anew, [a0, vm_memory])
	ext(_ecall_ext_memcpy, [_vm_memory_chk, C(int(0)), vm_memory, C(int(0)), _vm_tmp_r1])

	// say after me: 'the memory was always this size'
	copy_static(vm_memory, _vm_memory_chk)

	jump(_syscall_return)

// -- getutctime --

package("stdsyscall_getutctime", [])

	var(stdsyscall_getutctime_time, null("SystemDateTimeOffset"))
	var(stdsyscall_getutctime_ticks, null("SystemInt64"))
	var(stdsyscall_getutctime_1000, null("SystemInt64"))

package("syscall_stdsyscall_getutctime", ["stdsyscall_getutctime"])
	equ(stdsyscall_getutctime_ext_now, EXT("SystemDateTimeOffset.__get_UtcNow__SystemDateTimeOffset"))
	equ(stdsyscall_getutctime_ext_tounix, EXT("SystemDateTimeOffset.__ToUnixTimeMilliseconds__SystemInt64"))
	equ(stdsyscall_getutctime_ext_i64mul, EXT("SystemInt64.__op_Multiplication__SystemInt64_SystemInt64__SystemInt64"))
	equ(stdsyscall_getutctime_ext_geti32, EXT("SystemInt32Array.__Get__SystemInt32__SystemInt32"))
	equ(stdsyscall_getutctime_ext_seti64, EXT("SystemInt64Array.__Set__SystemInt32_SystemInt64__SystemVoid"))
	equ(stdsyscall_getutctime_ext_bcopy, EXT("SystemBuffer.__BlockCopy__SystemArray_SystemInt32_SystemArray_SystemInt32_SystemInt32__SystemVoid"))
	equ(stdsyscall_getutctime_ext_i64fromi32, EXT("SystemConvert.__ToInt64__SystemInt32__SystemInt64"))

	// so for some reason UnixEpoch is unavailable and the subtraction method gives wrong results
	ext(stdsyscall_getutctime_ext_now, [stdsyscall_getutctime_time])
	ext(stdsyscall_getutctime_ext_tounix, [stdsyscall_getutctime_time, stdsyscall_getutctime_ticks])
	// turn milliseconds into microseconds
	ext(stdsyscall_getutctime_ext_i64fromi32, [C(int(1000)), stdsyscall_getutctime_1000])
	ext(stdsyscall_getutctime_ext_i64mul, [stdsyscall_getutctime_ticks, stdsyscall_getutctime_1000, stdsyscall_getutctime_ticks])

	ext(stdsyscall_getutctime_ext_seti64, [_vm_bcopy_i64, C(int(0)), stdsyscall_getutctime_ticks])

	// source source_ofs dest dest_ofs bytes
	ext(stdsyscall_getutctime_ext_bcopy, [_vm_bcopy_i64, C(int(0)), _vm_bcopy_i32, C(int(0)), C(int(8))])

	ext(stdsyscall_getutctime_ext_geti32, [_vm_bcopy_i32, C(int(0)), a0])
	ext(stdsyscall_getutctime_ext_geti32, [_vm_bcopy_i32, C(int(1)), a1])

	jump(_syscall_return)

// update_yield was removed in favour of setjmp, which does the same thing but more flexibly.

eof
