// builtin

package("builtin_globals", [])
	// VM-declared
	// _vm_equ_initsp
	// _vm_equ_abort
	// _vm_equ_image_bytes
	// _vmext_EXTERN (see wrapper.rs)

	// WORKAROUND: Due to Udon Assembly bugs, we have to initialize some of these to null rather than 0.
	var(_null, null("SystemObject"))
	var(_vm_tmp_bool, null("SystemBoolean"))
	var(_vm_tmp_r1, int(0))
	var(_vm_tmp_r2, int(0))
	var(_vm_tmp_u8, null("SystemByte"))
	var(_vm_tmp_u16, null("SystemUInt16"))
	var(_vm_tmp_i8, null("SystemSByte"))
	var(_vm_tmp_i16, null("SystemInt16"))
	var(_vm_tmp_i64_a, null("SystemInt64"))
	var(_vm_tmp_i64_b, null("SystemInt64"))
	var(_vm_tmp_i64_c, null("SystemInt64"))
	// Scratch buffers for loads, stores, etc.
	// [2] (mulh/mulu/divu bulk transfer)
	var(_vm_bcopy_i64, null("SystemInt64Array"))
	// [4] (mulh/mulu/divu bulk transfer uses 4)
	var(_vm_bcopy_i32, null("SystemInt32Array"))
	var(_vm_bcopy_i16, null("SystemInt16Array")) // [1]
	var(_vm_bcopy_i8, null("SystemSByteArray")) // [1]
	var(_vm_initdata_dec, null("SystemByteArray"))
	// syscalls can use this to check their internal state isn't stale
	var(_vm_reset_count, int(0))
	// WORKAROUND: Udon has a habit of deciding it's gonna initialize vm_memory ITSELF.
	// Obviously this is bad for us, so we hold a second, hidden field of type Object.
	// It shouldn't initialize *that* behind our backs.
	// Also note that stdsyscall uses this as a backup for vm_memory.
	var(_vm_memory_chk, null("SystemObject"))
	var_public(vm_memory, null("SystemByteArray"))
	// Declared public, but only initialized with memory.
	var_public(vm_indirect_jump_target, uint(0))
	// most registers are auto-declared, but not this
	var(_vm_zero, int(0))

package("builtin_vm_reset", [])

	code_comment("-- MEMORY INIT / RESET / INDIRECT JUMP --")

public(_vm_reset)

	// The external reset just sets us up to indirect jump straight to abort.
	// This means you can just poke _vm_reset and get a nicely reset VM.
	copy_static(C(uint_c(_vm_equ_abort)), vm_indirect_jump_target)

	// FALLTHROUGH: we've just setup the indirect jump to abort, so do a reset-and-jump

public(_vm_reset_and_jump)

	// increment the reset count for stuff like update_yield
	ext(_vmext_i32_add, [_vm_reset_count, C(int(1)), _vm_reset_count])

	// setup VM settings to match the binary.
	// note that we only set vm_sp *on reset* since SDK became reentrant, so vm_initsp no longer exists.
	copy_static(C(int_c(_vm_equ_initsp)), vm_sp)
	copy_static(C(int_c(_vm_equ_initgp)), _vm_gp)
	// create scratch buffers
	ext(_vmext_i64array_create, [C(int(2)), _vm_bcopy_i64])
	ext(_vmext_i32array_create, [C(int(4)), _vm_bcopy_i32])
	ext(_vmext_i16array_create, [C(int(1)), _vm_bcopy_i16])
	ext(_vmext_i8array_create, [C(int(1)), _vm_bcopy_i8])
	// setup like a thunk would. we're called by thunks when the machine hasn't been setup yet
	// and we can also be called by external code
	copy_static(C(int_c(_vm_equ_abort)), _vm_ra)
	// create the array & copy to check field so we don't do this twice
	ext(_vmext_u8array_create, [C(int_c(_vm_equ_image_bytes)), vm_memory])
	copy_static(vm_memory, _vm_memory_chk)
	// decode the data and copy it into the start of the memory array
	ext(_vmext_initdata_to_initdata_dec, [_vm_initdata, _vm_initdata_dec])
	ext(_vmext_bytearray_copy, [_vm_initdata_dec, vm_memory, C(int(0))])
	// clean up
	copy_static(_null, _vm_initdata_dec)

	// FALLTHROUGH: we now move right on to performing an indirect jump

public(_vm_indirect_jump)

	// The jump table is laid out so that a simple multiplication by 2 will fix up the target.
	ext(_vmext_u32_add, [vm_indirect_jump_target, vm_indirect_jump_target, vm_indirect_jump_target])
	jump_indirect(vm_indirect_jump_target)
	code_comment("")

package("builtin_thunk", [])

	// Thunk code label is generated in main.rs
	// Target code VM address is in _thunk_address
	// Target jump address is in _thunk_jump

local(fastpath)

	// check if the VM has inited; if it has, we speedrun init
	ext(_vmext_obj_equality, [_vm_memory_chk, _null, _vm_tmp_bool])
	push(_vm_tmp_bool)
	jump_if_false(fastpath)

	// Slowpath: The machine hasn't been setup yet!
	// Set indirect jump target and then run Reset-And-Jump.
	ext(_vmext_u32_fromi32, [C(int_c(_thunk_address)), vm_indirect_jump_target])
	jump(_vm_reset_and_jump)

_(fastpath)

	// Fastpath: Machine is ready. Copy registers and directly jump into code.
	// Setup registers...
	copy_static(C(int_c(_vm_equ_abort)), _vm_ra)
	// Jump directly into the code.
	jump(_thunk_jump)

// add a blank inc_code package in case it's needed
package("inc_code", [])
package_end

package("syscall_builtin_abort", [])
	stop
